@using Pokemon.Helpers
@model Pager

@{
    int currentPage = PagerHelpers.GetCurrentPage(Context.Request.Query["page"]);
    int minPage = PagerHelpers.GetMinPage(currentPage, Model.MaxPages);
    int totalPages = PagerHelpers.GetTotalPages(Model.Count, Model.PageSize);
    int maxPage = PagerHelpers.GetMaxPage(currentPage, Model.MaxPages, totalPages);
}

<nav aria-label="..." class="p-3">
    <ul class="pagination justify-content-center">
        @{
            if (currentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="/?page=@(currentPage-1)">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/?page=@(currentPage-1)">Previous</a>
                </li>
            }

            for (int i = minPage; i <= maxPage; i++)
            {
                if (i == currentPage)
                {
                    <li class="page-item active"><a class="page-link" href="/?page=@i">@i <span class="sr-only"></span></a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/?page=@i">@i</a></li>
                }

            }

            if (currentPage >= totalPages)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="/?page=@(currentPage+1)">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="/?page=@(currentPage+1)")'">Next</a>
                </li>
            }
        }
    </ul>
</nav>

@* not using the Pager Model "Action" or "Controller" ? Is it assuming since we are already in /Home/Index to run that action by default?*@